@tailwind base;
@tailwind components;
@tailwind utilities;

/* Subtelny scrollbar */
.styled-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cbd5e1 transparent; /* thumb color / track */
}
.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
